.Forgetoute {
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: url('./loginImage.webp')
  no-repeat;
  background-size: cover;
  background-position: center;

}
.AppForget {
    width: 400px;
    height: auto;
    background: rgba(143, 169, 191, 0.952) ;/* Bleu-gris avec une touche de transparence */
    color: rgba(255, 255, 255, 1); /* Blanc pur */
    border-radius: 10px;
    padding: 30px 40px;
    animation: fadeIn 0.5s ease-in-out;
  }
  .Forgetoute .App h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  .labelIkhan {
    margin: 30px 0;
    font-size: 14px;
  }
  .NoField {
    margin: 20px;

    position: relative;
    padding-bottom: 24px;
    display: flex;
    flex-direction: column;
  }

  
  .hoola {
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8) /* Blanc avec un peu de transparence */;
    border: none;
    outline: none;
    border: 1px solid #dfe1e5;
    border-radius: 5px;
    font-size: 16px;
    padding: 10px ;
    color: rgba(0, 0, 0, 0.7) /* Gris foncé pour la lisibilité */0;

  }
  .hoola::placeholder, select::placeholder {
    color: #000000;
  }
  .Monbutton {
    width: 100%;
    height: 45px;
    margin: 30px 0 4px 0;
    background: rgb(0, 104, 216);
    border: none;
    outline: none;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 18px;
    color: rgba(255, 255, 255, 1);
    font-weight: 700;
    padding: 12px 20px;
  }
  
  .Monbutton:disabled,
  .Monbutton[disabled] {
    border: 1px solid #dfe1e5;
    background-color: #dfe1e5; /* Bleu Bootstrap pour les boutons d'action */
    color: rgb(0, 0, 0); /* Blanc pour la lisibilité */
    cursor: not-allowed;
    font-size: 18px;
  }
  .AppForget .loggin {
    font-size: 14.5px;
    text-align: center;
    margin: 20px 0 15px;
}
.loggin p a {
  transition: color 0.3s;
    color: #000000;
    text-decoration: none;
    font-weight: 600;

}
.loggin p a:hover {
  color: #1a73e8; /* Changement de couleur au survol */
    text-decoration: underline;
}
@keyframes fadeIn {
  from { opacity: 0; transform: translateY(20px); }
  to { opacity: 1; transform: translateY(0); }
}